*{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    
}

.imagen1{
    width: 100%;
    height: 420px;
}


h3 {
  background-color: rgb(119, 87, 72);
  color: rgb(240, 218, 218);
}



li, p, h1{
    color: rgb(119, 87, 72);
}


    

